:root {
  --header-height: 5rem;
  --gap: max(2vmin, 1rem);
  --board-size: calc(100vmin - var(--header-height));

  --primary: #0097a7;
}

html {
  font-family: Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.row-center {
  align-items: center;
  justify-content: center;
}
